body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f8fa;
}

#cards-container {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.card {
	background-color: #fff;
	border: 1px solid #e6ecf0;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
}

.card h3 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 10px;
}

.card p {
	font-size: 16px;
	margin-bottom: 10px;
}

.card .user {
	font-size: 12px;
	color: #657786;
}

button {
	border: none;
	display: inline-block;
	padding: 12px 18px;
	background-color: #e6ecf0;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	color: #1da1f2;
	cursor: pointer;
}

button:hover {
	color: #1a7fbd;
	background-color: #c2c7ca;
	transition: 0.3s all ease;
}

.fa-twitter {
	margin-left: 8px;
}